@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Oswald&family=Staatliches&display=swap');

* {
  font-family: 'Oswald', sans-serif;
}

body {
  margin: 0;
  background-color: #141414;
  color: #ffffff;
  max-height: 100vh;
}

:root {
  --popcorn: #FAC213;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover { 
  color: var(--popcorn);
  transform: scale(1.1);
}

.popcornText {
  color: var(--popcorn);
}

.notFound {
  max-width: 100%;
}

.grow:hover {
  transform: scale(1.1);
}

.splashIcon {
  max-width: 64px;
}